@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

main .esquerda{
    background-color: #161616;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    -webkit-box-shadow: 9px 9px 50px 1px rgba(0,0,0,0.65); 
    box-shadow: 1px 1px 60px 1px rgba(0,0,0,0.65);
}

.esquerda p{
    color: #fff;
    width: 40vw;
    font-size: 2rem;
    text-align: center;
}

.esquerda img{
    width: 30vw;
    margin-top: 40px;
}

/*segunda parte*/

main .textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.textos img{
    width: 100px;
}

form{
    width: 50%;
    padding: 4rem;
}

main .textos h1{
    margin-bottom: 40px;
    text-align: center;
    color: #161616;
    font-size: 3rem;
    font-weight: 700;
    color: #000;
}

main .campos input, main .btn input{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 2rem;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background: linear-gradient(145deg, #f0f0f0, #cacaca3d);
    box-shadow:  5px 5px 19px #d3d3d34f,
             -5px -5px 19px #ededed52;
}

a{
    text-decoration: none;
    color: #9d48ff;
    text-align: center;
}

label{
    color: #000;
}

#btn{
    align-items: center;
    width: 50%;
    height: 40px;
    margin-top: 60px;
    cursor: pointer;
}

#mark{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#mark input{
    margin-right: 10px;
}

@media  screen and (max-width:568px) {
    body{
        background-color: #fff;
    }


    main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    main .esquerda{
        display: none;
        visibility: hidden;
    }

    main .textos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    form{
        width: 60%;
        padding: 4rem;
    }

    #btn{
        align-items: center;
        width: 60%;
        height: 40px;
        margin-top: 60px;
        cursor: pointer;
    }
}